<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href="/">
      <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Notilog
    </a>
    <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, :class => "btn btn-primary my-2 my-sm-0" %>
        <% else %>
            <%= button_to "Login", new_user_session_path, :class => "btn btn-primary my-2 my-sm-0" %>
        <% end %>
    </ul>
</nav>